<script type="text/javascript">
  $(document).ready(function() {
    $('.pager_link').click(function(event){
        console.log("pushstate");

        // ローディング画面表示
        prepare_load_func();
        display_load_func();
      	var target = $(event.target);
        
        // ブラウザ依存対応: attributes[i].value には"page_value"という文字列か
        // ページ番号の数字がくるがブラウザによってインデックスが違うので、
        // "pager_link"を明示的に除外
        const page_number = target[0].innerHTML
        $('#page').val(page_number);
        window.history.pushState(get_history_obj_func(), null);

        // 上部へスクロール
        $('body, html').animate({ scrollTop: 340 }, 50);
        Rails.fire($("#form1_id")[0], "submit");
    });
  });
</script>
<% if @current_page != nil %>
  <% if @current_page != nil && @max_page != nil%>
  <% @view_min = [1, @current_page - 4].max %>
  <% @view_max = [@max_page, @current_page + 4].min %>
    <div id="global">
      <ul class="pageNav01">
        <% (@view_min..@view_max).each do |page_index| %>
            <% if page_index == @current_page %>
              <li><span><%= page_index %></span></li>
            <% else %>
              <li><a class="pager_link" value="<%= page_index %>"><%= page_index %></a></li>
            <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
