/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #2d8fdd;
  z-index: 3;
}

#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 4;
}

 #ajax-search-card-aho > ul, ol {
   padding: 0;
   position: relative;
 }

#ajax-response {
  width: 100%;
  text-align: center;
}

#ajax-response-wrapper {
  /* width: 640px; */
}

#ajax-response-wrapper-div2 {
  /* width: 640px; */
}

#ajax-response-wrapper-div3 {
  /* width: 640px; */
}

 #ajax-search-card-aho > ul li, ol li {
   color: #2d8fdd;
   border-left: solid 6px #2d8fdd;/*左側の線*/
   background: #f1f8ff;/*背景色*/
   /* margin-bottom: 3px;/*下のバーとの余白*/ */
   line-height: 1.5;
   padding: 0.5em;
   list-style-type: none!important;/*ポチ消す*/
 }

 .aho-contents {
   font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック';
   display:inline-block;
   vertical-align: top;
   margin-left: 15px;
   width: 640px;
 }

 .aho-contents > ul, ol {
   padding: 0;
   position: relative;
 }

 .aho-contents > ul li {
   color: #2d8fdd;
   border-left: solid 6px #2d8fdd;/*左側の線*/
   background: #f1f8ff;/*背景色*/
   line-height: 1.5;
   padding: 0.5em;
   list-style-type: none!important;/*ポチ消す*/
 }

 .aho-contents > ul > .title {
   text-align: left;
   background: #afeeee;
   margin-bottom: 0px;
 }

 .aho-contents > ul > .info {
   text-align: left;
   margin-bottom: 0px;
 }

 .aho-contents > ul > .info_img {
   height: 300px;
   text-align: left;
   margin-bottom: 0px;
 }

 .aho-contents > ul > .comment {
   text-align: left;
   margin-bottom: 0px;
   height: 300px
 }

 .aho-contents > ul > .info_last {
   text-align: left;
   margin-bottom: 10px;
 }

#description {
  width: 720px;
}

#description > ul, ol{
  color: #668ad8;/*文字色*/
  border: dashed 2px #668ad8;/*破線 太さ 色*/
  background: #f1f8ff; /*背景色*/
  padding: 0.5em 0.5em 0.5em 2em;
}

#description > ul li, ol li {
  line-height: 1.5;
  padding: 0.5em 0;
}

#global ul.pageNav01 {
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック';
	margin: 0 0 10px;
	padding: 10px 10px 5px;
	background: #eee;
	text-align: center;
}

#global ul.pageNav01 li {
	display: inline;
	margin: 0 2px;
	padding: 0;
}

#global ul.pageNav01 li span,
#global ul.pageNav01 li a {
	display: inline-block;
	margin-bottom: 5px;
	padding: 1px 8px;
	background: #fff;
	border: 1px solid #aaa;
	text-decoration: none;
	vertical-align: middle;
}

#global ul.pageNav01 li a:hover {
	background: #eeeff7;
	border-color: #00f;
}
.select_radio_button {
  margin-left: 20px;
  position:relative;
}

.check_box_group {
}

.select_check_box_rarity {
  margin-left: 20px;
  position:relative;
}

.select_check_box_attribute {
  margin-left: 20px;
  position:relative;
}

.label_class {
   display:block;
   float:left;
   width:100px;
}

.search_option_label {
   display:inline-block;
   color: #668ad8;
}

.img_class {
    max-height: 100%;
    width: auto;
}

.link_failure {
  color: #2d8fdd;
}

.link_failure:hover {
  color: #F01212;
}

.sprite {
    /* background: url(/assets/img/dest4.jpg) no-repeat; */
    /* width: 640px;
    height: 480px; */
    /* display: inline-block; */
    /* background-size: cover; */
}

.css .sprite {
    /*一秒間に動くフレーム数*/
    -webkit-animation: play 2.0s steps(30) 0.0s infinite;
    animation: play 2.0s steps(30) 0.0s infinite;
}


@-webkit-keyframes play {
    /*一秒間に動くスタイル*/
    0% {
        background-position: 0px 0;
        background-size: cover;
    }

    100% {
        background-position: -10800px 0;
        background-size: cover;
    }
}

@keyframes play {
  background-size: cover;
    /*一秒間に動くスタイル*/
    0% {
        background-position: 0px 0;
        /* background-size: cover; */
    }
    100% {
        background-position: -10800px 0;
        /* background-size: cover; */
    }
}


.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #fff;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}
