/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 #ajax-search-card {
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック';
  display:inline-block;
  vertical-align: top;
  width: 620px;
 }

 #ajax-search-card-aho {
   font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック';
   display:inline-block;
   vertical-align: top;
   width: 620px;
 }

 #ajax-search-card > ul, ol {
   padding: 0;
   position: relative;
 }

 #ajax-search-card > ul li {
   color: #2d8fdd;
   border-left: solid 6px #2d8fdd;/*左側の線*/
   background: #f1f8ff;/*背景色*/
   line-height: 1.5;
   padding: 0.5em;
   list-style-type: none!important;/*ポチ消す*/
 }

 #ajax-search-card > ul > .title {
   background: #afeeee;
   margin-bottom: 0px;
 }

 #ajax-search-card > ul > .info {
   margin-bottom: 0px;
 }

 #ajax-search-card > ul > .info_last {
   margin-bottom: 10px;
 }

 #ajax-search-card-aho > ul, ol {
   padding: 0;
   position: relative;
 }

 #ajax-search-card-aho > ul li, ol li {
   color: #FA5858;
   border-left: solid 6px #FA5858;/*左側の線*/
   background: #F6CECE;/*背景色*/
   margin-bottom: 3px;/*下のバーとの余白*/
   line-height: 1.5;
   padding: 0.5em;
   list-style-type: none!important;/*ポチ消す*/
 }

 #ajax-response-wrapper {
   font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック';
   display:inline-block;
   vertical-align: top;
   width: 620px;
 }

 #ajax-response-wrapper-aho {
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック';
  display:inline-block;
  vertical-align: top;
  width: 620px;
  }

 #ajax-response-wrapper > ul, ol {
   padding: 0;
   position: relative;
 }

 #ajax-response-wrapper-aho > ul, ol {
   padding: 0;
   position: relative;
 }

 #ajax-response-wrapper > ul li {
   color: #2d8fdd;
   border-left: solid 6px #2d8fdd;/*左側の線*/
   background: #f1f8ff;/*背景色*/
   line-height: 1.5;
   padding: 0.5em;
   list-style-type: none!important;/*ポチ消す*/
 }

 #ajax-response-wrapper-aho > ul li, ol li {
   color: #FA5858;
   border-left: solid 6px #FA5858;/*左側の線*/
   background: #F6CECE;/*背景色*/
   margin-bottom: 3px;/*下のバーとの余白*/
   line-height: 1.5;
   padding: 0.5em;
   list-style-type: none!important;/*ポチ消す*/
 }

 #ajax-response-wrapper > ul > .title {
   background: #afeeee;
   margin-bottom: 0px;
 }

 #ajax-response-wrapper-aho > ul > .title {
   background: #F3A5A5;
   margin-bottom: 0px;
 }

 #ajax-response-wrapper > ul > .info {
   margin-bottom: 0px;
 }

 #ajax-response-wrapper-aho > ul > .info {
   margin-bottom: 0px;
 }

 #ajax-response-wrapper > ul > .info_last {
   margin-bottom: 10px;
 }

 #ajax-response-wrapper-aho > ul > .info_last {
   margin-bottom: 10px;
 }

#description {
  width: 620px;
}

#description > ul, ol{
  color: #668ad8;/*文字色*/
  border: dashed 2px #668ad8;/*破線 太さ 色*/
  background: #f1f8ff; /*背景色*/
  padding: 0.5em 0.5em 0.5em 2em;
}

#description > ul li, ol li {
  line-height: 1.5;
  padding: 0.5em 0;
}

.label_class {
   display:block;
   float:left;
   width:145px;
}

.img_class {
    max-width: 100%;
    height: auto;
}

.link_failure {
  color: #FA5858;
}

.link_failure:hover {
  color: #F01212;
}
